.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // background-color: var(--colored-background-color);
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  width: 80%;
  max-height: max-content;
  gap: 2.5rem;
  padding: 2rem 3.5rem;
  margin: auto;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;

  @media (max-width: 768px) {
    padding: 1.5rem .5rem;
    margin: 0;
    width: 100%;
  }
}

.mobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;
  }
}

.facts {
  display: flex;
  align-items: center;
  height: max-content;
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  padding: .5rem 0;

  overflow: auto;

  @media screen and (max-width:768px) {
    display: none;
    // grid-template-columns: 50% 50%;
  }
}

.number-text {
  display: flex;
  width: 100%;
  gap: .5rem;

  align-items: center;

  h3 {
    max-width: max-content;
  }

  .number {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: 600;
    display: flex;

    @media screen and (max-width:768px) {
      font-size: 3rem;
    }
  }

  .text {
    display: flex;
    align-self: flex-start;
    padding-top: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.066875rem;
    width: 7.0625rem;

    @media screen and (max-width:768px) {
      // font-size: 0.6rem;
    }
  }
}

.aboutMe {
  display: grid;
  grid-template-columns: 65% 35%;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.aboutMe-reversed {
  display: grid;
  grid-template-columns: 35% 65%;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  p {
    text-align: justify;
  }
}

h6 {
  font-size: 1rem;
  line-height: 1.21875rem;
  font-weight: 600;
  background: linear-gradient(180deg, #836FF8 100%, #BFB4F8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: underline !important;
  /* Required for text gradient in webkit-based browsers */
  color: transparent;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;

  width: 80%;

  span {
    color: #836FF8;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.5625rem;
  font-weight: 600;
}

.animation {
  display: flex;
  align-items: center;
  align-self: baseline;
  justify-content: center;
  width: 100%;
  // height: 1rem;
  // border-radius: 50%;
  // background-color: transparent;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:hover {
    // transform: scale(2.5);
    transition: transform 0.4s ease-in-out;
  }
}

ng-lottie {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping to the next row */
  gap: 0.5rem;
  /* Space between items */

  .animation {
    width: 4rem;
    height: 4rem;
  }
}

.languages>* {
  flex: 0 0 calc((100% - 1.5rem) /4);
  /* Ensure 3 elements per row */
  box-sizing: border-box;

  /* Include padding and borders in the width calculation */
  padding: .5rem;

  @media screen and (max-width: 768px) {
    flex: 0 0 calc((100% - 1rem) /3);
  }
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .icon {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.075);
    transition: transform .3sec ease-in-out;

    .icon {
      transform: scale(1.175);
      transition: transform .3sec ease-in-out;
    }
  }
}

.contact {
  display: flex;
  background-color: var(--contact-color);
  border-radius: 1rem;
  border: var(--shadow-color) 1px solid;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.icon-text {
  display: flex;
  padding: .5rem .875rem;
  flex-direction: column;
  gap: .5rem;

  h6 {
    color: var(--text-color);
    text-decoration: none !important;
  }

  .details {
    display: flex;
    gap: .5rem;
    align-items: center;

    // justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }

    a {
      @extend p;
      font-weight: 500;
    }
  }
}